header {
	font-size: 50px;
	font-style: oblique;
	margin-left: 40%;
}

body{
    margin: 0;
    padding: 0;
    background: url(farma.jpg)no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

