body{
    margin: 0;
    padding: 0;
    background: url(/CSS/farma.jpg)no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#homepage {
    border: none;
    outline: none;
    height: 0%;
    background: brown;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    text-decoration:none;
    margin-bottom: 0%;
    margin-top:0%;
    margin-left: 0%
}

.box {
    background: #000;
    color: #fff;
    top: 85%;
    left: 50%;
    position: relative;
    padding: 70px 30px;
    font-family: sans-serif;
    border-radius: 50px;
    box-sizing: border-box;
}

#comprabox {
    width: 320px;
    height: 320px;
    transform: translate(-230%,-240%);
    float: right;
}

#productbox{
    width: 320px;
    height: 850px;
    transform: translate(-50%,10%);
}

#updatebox{
    width: 320px;
    height: 400px;
    transform: translate(-200%,-190%);
    float: left;
}

#descontobox {
    width: 320px;
    height: 380px;
    transform: translate(-300%,-70%);
    float: left;
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}


#productbox p,{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

#categoria {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

#productbox input, #updatebox input, #descontobox input, #comprabox input{
    width: 100%;
    margin-bottom: 20px;
}

#productbox input[type="text"], select, #updatebox input[type="text"], #descontobox input[type="text"], #comprabox input[type="text"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

option {
    color: white;
    background: transparent;
    background-color: #000;
}

#productbox input[type="submit"], #updatebox input[type="submit"], #descontobox input[type="submit"], #comprabox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: brown;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    margin-top: 5px;
}

#productbox input[type="submit"]:hover, #updatebox input[type="submit"]:hover, #descontobox input[type="submit"]:hover, #comprabox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

button {
    border: none;
    outline: none;
    height: 40px;
    background: brown;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
