body{
    margin: 0;
    padding: 0;
    background: url(farma.jpg)no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


}

#header {
    border:1px solid;
    padding-left: 45%;
    padding-right: 25%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 0%;
    vertical-align: middle;
    background-color: (0,0,0,0.3);
    color:white;
    border-radius:6px;
    font-size: 20px;
    font-family:cursive;
    serif;text-decoration:none;
}

#cadastrar {
    border: none;
    outline: none;
    height: 40px;
    background: #000;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    text-decoration:none;
    margin-bottom: 0%;
    vertical-align: middle;
    margin-left: 40%;
    margin-top:20%;
}

#login {
    border: none;
    outline: none;
    height: 40px;
    background: #000;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    text-decoration:none;
    margin-bottom: 0%;
    vertical-align: middle;
    margin-left: 43.5%;
    margin-top:0.2%;

}